div {
	padding: 10px;
	font-size: 16px;
}

form fieldset {
	margin-left: 30px;
}

form label {
	width: 800px;
	padding-left: 20px;
}

form .textbox {
	width: 100%;
	background-color: #f8f8f8;
	border: none;
	border-bottom: 1px solid #aaaaaa;
}

form textArea {
	background-color: #f8f8f8;
	border: none;
}

#submit_button {
	margin-left: 20px;
	padding: 5px 1em;
	color: #ffffff;
	border: none;
	background-color: #e0531f;
}

.container {
	padding: 2em 3em;
}

.container .book_item {
	padding: 1em;
	border-bottom: 0.5px solid #dddddd;
}

.container .book_item a {
	font-size: 1.5em;
}

.container .book_item p {
	font-size: 0.9em;
}

.container .book_item a.edit_button {
	display: flex;
	float: right;
	margin: 0 3px;
	padding: 5px 10px;
	color: #ffffff;
	font-size: 1em;
	background-color: #e0531f;
}

.container .book_item a.remove_button {
	display: flex;
	float: right;
	margin: 0 3px;
	padding: 5px 10px;
	color: #000000;
	font-size: 1em;
	background-color: #d0cece;
}
